{% load static %}

<head>
  <link rel="stylesheet" href=" {% static 'main_page/css/four_square.css' %}">
  <script src="{% static 'main_page/js/four_square.js' %}"></script>
</head>


<body>
    <div class="container">
        <div class="rectangle">
            <h2 class="title">Business</h2>
            <p class="description">We value each client's time, so we offer you a full development cycle from terms of reference to the finished product, where you can watch every step of development </p>
        </div>
        <div class="rectangle">
            <h2 class="title">StartUp</h2>
            <p class="description">We help startups make an mvp or a finished product thanks to qualified technicians</p>
        </div>
        <div class="rectangle">
            <h2 class="title">Personal brand</h2>
            <p class="description">Thanks to our managers, you can get the desired result without any additional knowledge. You get the idea, we get the result.</p>
        </div>
        <div class="rectangle">
            <h2 class="title">Hobby</h2>
            <p class="description">Thanks to us, you can turn your hobby into a source of income.</p>
        </div>
    </div>

</body>
