<div style="display: flex; flex-direction: column; gap: 24px;">
    <div class="info-card info-card--left">
      <img class="info-card__image" id=Foto src="{% static 'media/iPhone13/Dima.png' %}">
      <div class="info-card__specs">
          <p>Dima | Sound Designer</p>
          <p style="text-align: center">“Hard work pays off”</p>
          <p>4 Years of Expirience</p>
      </div>
    </div>

    <div class="info-card info-card--right">
      <img class="info-card__image" id=Foto src="{% static 'media/iPhone13/EgorNew.png' %}" alt="Your photo">
      <div class="info-card__specs">
          <p>Egor CEO & CTO</p>
          <p style="text-align: center">Good Luck</p>
          <p>5 Years of Expirience</p>
      </div>
    </div>
</div>