{% load static %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'main_page/css/userdata.css' %}">
</head>

<body>
    <div class="rectangle">
        <h2 class="title">Title</h2>
        <img class="image" src="https://via.placeholder.com/150" alt="Пример изображения">
        <p class="description">Описание: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis.</p>
    </div>
</body>
